 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;400;600&family=Noto+Sans:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans',sans-serif;
    text-decoration: none;
}
/* Product */
nav{
    width: 100%;
    height: 7vw;
    background: #03045e;
}
.nav-item  {
    color: #caf0f8;
    margin-right: 10px;
    font-size: 1.5vw;
    text-align: center;
    justify-content: center;
}

.nav-container{
    max-width: 95vw;
    height: 100%;
    background-color: #03045e;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logonav{
    width: 7vw;
    height: 7vw;
    object-fit: contain;
}

.nav-taka{
    display: flex;
    align-items: center;
}

.nav-takaicon{
    color: #caf0f8;
    margin-right: 10px;
    font-size: 1.5vw;
}

.nav-takaicon{
    position: relative;
}

.cartcount{
    position: absolute;
    top: -15px;
    right: -15px;
    width: 25px;
    height: 25px;
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.container{
    width: 90vw; 
    margin: 0 auto;
    display: flex;
}

.sidebar{
    width: 20%;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.product{
    width: 80%;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}

.sidebar-search{
    padding: 10px;
    border: 2px solid transparent;
    width: 100%;
    font-size: 1.5vw;
    outline: none;
    border-radius: 5px;
    background: #f2f2f2;
    transition: 0.3s;
    margin-bottom: 20px;    
    cursor: pointer;    
}

.sidebar-search:focus {
    border: 2px solid blue;
}

.sidebar-item{
    background-color: #0077b6;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #e5e5;
    color: #caf0f8;
    transition: 0.3s;
    font-size: 1.5vw;
    text-decoration: none;
    cursor: pointer;    
    
}

.sidebar-item:hover{
    background: rgb(184, 215, 255);
    color: rgb(25, 1, 118);
}

.product-items{
   cursor: pointer;
   transition: 0.5s;
}

.product-items:hover{
    transform: scale(1.04);
    
}

.product-img{
    width: 100%;
    height: 17vw;
    object-fit: cover;
    
}

.modal,
.modal-bg{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-page{
    z-index: 99;
    min-width: 30vw;
    max-width: 60vw;
    max-height: 30vw;
    overflow: scroll;
    background: white;
    border-radius: 15px;
    padding: 15px;
}

.modaldesc-content{
    
    width: 100%;
    display: flex;
}

.modaldesc-detail{
    
    margin-left: 20px;
}

.modal-img{
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 10px;
}

.btn-control{
    display: flex;
    justify-content: flex-end;
}

.btn{
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 1.2vw;
    transition: 0.3s;
}

  .btn-buy{
    background: linear-gradient(125deg, #e61b36, #9c1032);
    color: #fff;
    margin-left: 10px;
  }

  .cartlitst{

  }

  .cartlitst-item{
    width: 50vw;
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
  }

  .cartlitst-left{
    display: flex;
  }

  .cartlitst-right{

    display: flex;
    align-items: center;
  }

  .cartlitst-left img{
    width: 5vw;
    height: 5vw;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
}

.btnc{
    width: 30px;
    height: 30px;

    border-radius: 50%;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    cursor: pointer;
    
}   
.open-slide{
    display: none;
}
.sidebar-itemmedai{
    display: none;
    background-color: #0077b6;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #e5e5;
    color: #caf0f8;
    transition: 0.3s;
    font-size: 1.5vw;
    text-decoration: none;
}
.side-nav{
    display: none;
}

/* Contac US */
.contac{
    padding: 10pvw;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    
}
.contac-bank{
    align-content: center;
}
.contac-bank{
  display: block;
   align-content:  center ;
}

.contac-icon{
    padding: 20px;
    margin: 10px;
   display: grid;
    
    list-style: none;
    
}

/* home */
.container-home{    
    width: 100%;
    height: 70vw;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .sidebar{
        width: 0;
        padding: 0;
    }
    
    .sidebar-search{
        display: none;
    }
    .sidebar-item{
        display: none;
    }
    .product{
        width: 100%;
        padding: 15px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
    }
  #close{
    visibility: hidden;
    float: right;
  }
    
    .side-nav{
        display: block;
    }
    .sidebar-itemmedai{
        padding: 5px;
        margin-bottom: 5px;
        display: none;
        justify-items: center;
        cursor: pointer;
        z-index: 1;
         opacity: 0.7;
         transition: 0.5s;
    }
}

/* contac */
@media (max-width: 768px) {
    .contac{
        padding: 10px;
        display: grid;
        grid-template-areas: 
        "img-icon"
        "contac-bank";
    }
    .contac-bank{
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .img-contac{
        width: 90vw;
        height: 60vw;
    }
}

/* Home */
